/* Variables */
$primary-color: #ffffff;
$background-color: #0d0d0d;
$highlight-color: #00c3ff;
$font-family: 'Montserrat', sans-serif;

/* Estilos Generales */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: $font-family;
    background-color: $background-color;
    color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio {
    text-align: center;
    padding: 20px;
    max-width: 80%;
    box-sizing: border-box;
    animation: fadeIn 1.5s ease-in-out;
}

header h1 {
    font-size: 3rem;
    margin: 0;
    color: $primary-color;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    animation: fadeIn 2s ease-in-out;
}

.social-media-container {
    margin-top: 20px;
    animation: fadeInUp 2s ease-in-out;
}

/* Animaciones */
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-10px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* Estilos para enlaces de redes sociales */
.social-media-container a {
    color: $highlight-color;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: transform 0.3s ease-in-out;
}

.social-media-container a:hover {
    transform: scale(1.2);
    color: $primary-color;
}
