body{
    background-image: url('../../assets/minimalist-art-design-vi-❤-4k-hd-desktop-wallpaper-para-4k-ultra-hd.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}