// about.scss

// Configuración de la página
#bigcontainer {
    max-width: 800px;
    margin: 0px auto 0; // Agregamos un margen superior de 40px
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow:  0 10px rgba(0, 0, 0, 0.1);
  }
  
  // Agregamos un padding-left para que el contenido esté más a la derecha
  #bigcontainer {
    padding-left: 20%; // Agregamos un padding-left de 50px
  }
  
  // Título de la página
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  // Sección de texto
  #CV_text {
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  // Sección de educación
  #experiencia {
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  // Sección de habilidades
  .skills {
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  // Sección de certificaciones
  .certifications {
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  // Sección de idiomas
  .languages {
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  // Estilos para dispositivos móviles
  @media (max-width: 768px) {
    #bigcontainer {
      padding: 10px;
    }
  }