// about.scss

// Configuración de la página
.bigcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* ancho del contenedor */
    margin: 40px auto; /* centrado horizontalmente */
  }
  
  // Agregamos un padding-left para que el contenido esté más a la derecha
  #bigcontainer {
    margin-left: 40%;
  }
  
  // Título de la página
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  // Sección de texto
  #CV_text {
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  // Sección de educación
  #experiencia {
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  // Sección de habilidades
  .skills {
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  // Sección de certificaciones
  .certifications {
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  // Sección de idiomas
  .languages {
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  // Estilos para dispositivos móviles
  @media (max-width: 768px) {
    #bigcontainer {
      padding: 10px;
    }
  }