body{
    background-image: url('../../assets/fondo.jpeg');
    background-repeat: no-repeat;
    background-size: auto;
}
.fondo{
    background-image: url('../../assets/fondo.jpeg');
    display: fixed;
}