body{
    background-image: url('../../assets/fondo.jpeg');
    background-repeat: no-repeat;
    background-size: auto;
    display: fixed;
    width: 50%;
}
.fondo{
    background-image: url('../../assets/fondo.jpeg');
}