nav{
    top: 0;
    right: 0;
    margin: 0%;
    padding: 10px;
    background-color: red;
    position: fixed;
    width: 100%;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a{
    float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
}

nav ul li a:hover{
    background-color: aliceblue;
}

.blackbutton{
    background: unset;
    border: none;
    cursor: pointer;
}

.blackbutton :hover{
    background-color: var(--color-primary);
}

.toggler-icon{
    width: 18px;
    height: 18px;
    background-color: var(--color-text);
    transition: background-color 0.2s ease-in-out;7
    -webkit-mask-size: 18px;
}

html[data-theme="dark"] .toggler-icon {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 24 24' %3E%3Cpath d='M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z' /%3E%3C/svg%3E");