.social-media-container {
  position: absolute; /* Posiciona el contenedor en la parte inferior */
  bottom: 0;
  left: 0;
  padding: 20px;

  ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
    text-align: left;
  }

  li {
    margin-bottom: 20px; /* Agrega un margen inferior para separar los items */
  }

  a {
    color: black; /* Texto negro */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    display: inline-flex; /* Asegura que el área del enlace cubra el icono */
    align-items: center;

    &:hover {
      color: #ccc; /* Texto gris claro al pasar el mouse */
      cursor: pointer;
    }
  }

  .fa-icon, .fa {
    font-size: 30px; /* Tamaño de los iconos */
    margin-right: 10px; /* Agrega un margen derecho para separar los iconos del texto */
  }
}
