.social-media-container {
    bottom: 0;
    left: 0;
  }

  .social-media-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .social-media-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px; /* ancho fijo de 200px */
  }